table{
  margin-top: 30px !important;
  font-size: 22px;
  color: #2C2873 !important;
}
.deleteService  {
  margin-top: 0 !important;
  margin-left: 20px;
  color: red;
  font-size: 28px;
  cursor: pointer;
}
table thead tr th{
  width: 10% !important;
}