.reviewContainer input,
.reviewContainer textarea{
  width: 500px;
  font-size: 22px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid grey;
}
.reviewContainer textarea{
  margin-top: 30px;
}
.reviewContainer button{
  margin-top: 20px;
}